html,body { 
  /* max-width: 100%;
  overflow-x: hidden; */
     margin: 0;
     font-family: Montserrat, sans-serif;
      
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }